$header-height: 72px;

$logo-width: 99.13px;
$logo-height: 12.02px;

$button-width: 78px;
$button-height: 40px;

$basket-width: 18.95px;
$basket-height: 21.74px;

$radius: 2px;

$main-bg-color: #fff;
$main-font-color: #1d1d1d;
$brand-color: #59bd5a;
$footer-color: #262626;
$border-color: #e0e0e0;
$input-color: #757575;
$hover-color: #49a144;
$shadow-color: rgba(38, 38, 38, 0.16);
$price-color:#626262;

$input-height: 48px;

$card_img_width: 308px;
$card_img_height: 256px;

$breakpoint-desktop: 992px;
$breakpoint-tablet: 767px;